@media (min-width: 1440px) {
  .product_list {
    padding: 0% 10%;
  }
}

.product_list{
  display: flex;
  justify-content:flex-start;
  flex-wrap: wrap;
}

.product_list>div{
  margin: 0.5rem;
}

.react_data_grid{
  min-height: 1000px;
}